In [123]:
import requests
import pandas as pd

In [124]:
#Pull in data from an API

r = requests.get('http://www.dnd5eapi.co/api/spells')
json = r.json()['results']
df = pd.DataFrame(data=json)
df.head()

         index         name                      url
0   acid-arrow   Acid Arrow   /api/spells/acid-arrow
1  acid-splash  Acid Splash  /api/spells/acid-splash
2          aid          Aid          /api/spells/aid
3        alarm        Alarm        /api/spells/alarm
4   alter-self   Alter Self   /api/spells/alter-self

In [125]:
#Find a print a descriptive statistic
#This is the total number of entries in the dataframe

print(len(df.index))

319

In [126]:
#Find a print a descriptive statistic
#This is length of the longest name of spell

print(df.name.str.len().max())

29

In [127]:
#Write a query in Pandas to select a particular set of your data
#This is all of the spells names that contain two or more words.

two_words = df[df['name'].str.contains(" ")]
print(two_words)

                 index               name                            url
0           acid-arrow         Acid Arrow         /api/spells/acid-arrow
1          acid-splash        Acid Splash        /api/spells/acid-splash
4           alter-self         Alter Self         /api/spells/alter-self
5    animal-friendship  Animal Friendship  /api/spells/animal-friendship
6     animal-messenger   Animal Messenger   /api/spells/animal-messenger
..                 ...                ...                            ...
311         water-walk         Water Walk         /api/spells/water-walk
314          wind-walk          Wind Walk          /api/spells/wind-walk
315          wind-wall          Wind Wall          /api/spells/wind-wall
317     word-of-recall     Word of Recall     /api/spells/word-of-recall
318      zone-of-truth      Zone of Truth      /api/spells/zone-of-truth

[214 rows x 3 columns]

In [128]:
#Select and print the SECOND AND THIRD columns of your data frame.

df2 = df[['name','url']]
print(df2)

               name                         url
0        Acid Arrow      /api/spells/acid-arrow
1       Acid Splash     /api/spells/acid-splash
2               Aid             /api/spells/aid
3             Alarm           /api/spells/alarm
4        Alter Self      /api/spells/alter-self
..              ...                         ...
314       Wind Walk       /api/spells/wind-walk
315       Wind Wall       /api/spells/wind-wall
316            Wish            /api/spells/wish
317  Word of Recall  /api/spells/word-of-recall
318   Zone of Truth   /api/spells/zone-of-truth

[319 rows x 2 columns]

In [129]:
#Select and print the FIRST 4 rows of you data frame.

df3 = df.iloc[0:4]
print(df3)

         index         name                      url
0   acid-arrow   Acid Arrow   /api/spells/acid-arrow
1  acid-splash  Acid Splash  /api/spells/acid-splash
2          aid          Aid          /api/spells/aid
3        alarm        Alarm        /api/spells/alarm